{% load organizations %}
<div class="w3-container w3-margin-bottom">
    <div class="w3-card w3-padding w3-left w3-col l12 xl6">
        <div class="w3-left"><h5><b>Organization Information</b></h5></div>
        {% with orgs=user|organizations %}
        {% for org in orgs %}
        <div class="w3-card w3-padding w3-left w3-col w3-margin-bottom">
            <div class="w3-left w3-col"><strong>{{ org.name }}</strong></div>
	    <div class="w3-left w3-col"><em>{{ org.description }}</em></div>
        </div>
        {% endfor %}
	{% endwith %}
    </div>
</div>
