{% extends "inventory/base.html" %}
{% load static %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}New {{ name }}{% endblock %}
{% block content %}
<div class="w3-container w3-padding w3-light-gray" style="margin-top:20px;">
    <a href="/inventory/admin/" alt="Inventory Admin">Inventory Admin</a>
    »
    <a href="/inventory/admin/{{ name|lower }}/" alt="Inventory Admin {{ name }}">{{ name }}</a>
    » Add {{ name }}
</div>
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h4><b>New {{ name }}</b></h4>
    </div>
    <div class="w3-container">
        <div class="w3-col w3-padding w3-left">{{ message }}</div>
    </div>
    <div class="w3-container">
        <form class="w3-col l12 xl6 w3-card w3-padding w3-bar-block" action="." method="post">
            {% csrf_token %}
            {{ tenantform.non_field_errors }}
            {% for field in tenantform %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endfor %}
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endfor %}
            <div class="w3-bar-item">
                <input type="submit" class="w3-button w3-dark-grey ims-form-field" value="Create">
            </div>
            <div class="w3-bar-item">
                <a href="/inventory/" class="w3-button w3-light-grey ims-form-field">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% if name == 'Assembly' or name == 'Storage' or name == 'PartStorage' or name == 'PartAlternateSKU' or name == 'KitPartStorage' %}
<script src="{% static "common/js/jquery.min.js" %}"></script>
<script>
    $("#id_organization").change(function() {
        var selectedId = $(this).val();
        {% if name == 'Assembly' or name == 'PartStorage' or name == 'PartAlternateSKU' %}
        $.ajax({
            url: '/tenant/ajax/part/',
            data: {
                'selected': selectedId
            },
            success: function(data){
                $("#id_part").html(data);
                {% if name == 'Assembly' %}
                $("#id_parent").html(data);
                {% endif %}
            }
        });
        {% endif %}
        {% if name == 'Storage' or name == 'PartStorage' %}
        $.ajax({
            url: '/tenant/ajax/storage/',
            data: {
                'selected': selectedId
            },
            success: function(data){
                {% if name == 'Storage' %}
                $("#id_parent").html(data);
                {% else %}
                $("#id_storage").html(data);
                {% endif %}
            }
        });
        {% elif name == 'PartAlternateSKU' %}
        $.ajax({
            url: '/tenant/ajax/alternatesku/',
            data: {
                'selected': selectedId
            },
            success: function(data){
                $("#id_alt_sku").html(data);
            }
        });
        {% elif name == 'KitPartStorage' %}
        $.ajax({
            url: '/tenant/ajax/kit/',
            data: {
                'selected': selectedId
            },
            success: function(data){
                $("#id_kit").html(data);
            }
        });
        $.ajax({
            url: '/tenant/ajax/partstorage/',
            data: {
                'selected': selectedId
            },
            success: function(data){
                $("#id_partstorage").html(data);
            }
        });
        {% endif %}
    });
</script>
{% endif %}
{% endblock %}

