{% extends "inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}Tenant Admin{% endblock %}
{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h4><b>Tenant Admin</b></h4>
    </div>
    <div class="w3-container">
        <div class="w3-col l12 xl6 w3-card w3-padding w3-bar-block">
            <div class="w3-bar-item">
                {% if perms.tenant.view_organization %}<a class="w3-button ims-form-field" href="/tenant/admin/organization/">Organization</a>{% endif %}
                {% if perms.tenant.view_userorganization %}<a class="w3-button ims-form-field" href="/tenant/admin/userorganization/">UserOrganization</a>{% endif %}
            </div>
	</div>
    </div>
</div>
{% endblock %}
