{% extends "inventory/base.html" %}
{% load get_setting %}
{% load static %}
{% load organizations %}
{% block title %}{{ name }}{% endblock %}
{% block content %}
<div class="w3-container w3-padding w3-light-gray" style="margin-top:20px;">
    <a href="/tenant/admin/" alt="Tenant Admin">Tenant Admin</a>
    » {{ name }}
</div>
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
	    <h4><b>{{ name }}</b></h4>
    </div>
    <div class="w3-container">
        <div id="message" class="w3-col w3-padding w3-left"></div>
    </div>
    <div class="w3-container">
        <div class="w3-card w3-padding w3-left w3-col l12 xl6">
            {% if 'tenant.add_{{ name|lower }}' in perms %}<div class="w3-right w3-padding"><a href="/tenant/admin/{{ name|lower }}/create/" alt="Add {{ name }}" class="w3-button w3-hover-green w3-round w3-col w3-border">+ New</a></div>{% endif %}
            {% for obj in objs %}
	    <div id="{{ obj.id }}" class="w3-card w3-padding w3-left w3-col{% if name == "Organization" and not obj.enabled %} w3-pale-red{% endif %}">
                <div class="w3-left"><b>{{ obj }}</b></div>
                {% if 'tenant.delete_{{ name|lower }}' in perms %}<div class="w3-right"><a href="javascript:void(0)" alt="Delete {{ name }}-{{ obj.id }}" class="w3-hover-red w3-button w3-round w3-border" onclick="delobj({{ obj.id }})">- Delete</a></div>{% endif %}
                {% if allowupdate %}{% if 'tenant.change_{{ name|lower }}' in perms %}<div class="w3-right"><a href="/tenant/admin/{{ name|lower }}/change/{{ obj.id }}/" alt="Update {{ name }}-{{ obj.id }}" class="w3-button w3-hover-green w3-round w3-border w3-margin-right">Update</a></div>{% endif %}{% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% include "inventory/pagination.html" with page=objs %}
</div>
<script src="{% static "common/js/jquery.min.js" %}"></script>
<script>
    function delobj(id) {
        var parentdiv = document.getElementById(id);
        $.ajax({
            url: '/tenant/admin/{{ name|lower }}/delete/' + id + '/',
            type: 'get',
            success: function(data) {
                if (data.includes('green')) { parentdiv.classList.add('ims-hidden'); }
                $("#message").html(data);
            }
        });
    }
</script>
{% endblock %}
{% block sidebar %}
<div id="search" class="ims-admin-search-bar w3-padding w3-card">
    <form method="get" style="margin:0;">
        <input type="text" placeholder="search for {{ name|lower }}" name="q"{% if query %} value="{{ query }}"{% endif %}/>
        <button class="w3-button" type="submit">Search</button>
    </form>
</div>
<script>
    var scroll_direction = true;
    window.addEventListener("resize", scroll_check);
    var prev_scroll_pos = window.pageYOffset;
    var elem = document.getElementById("search");
    window.onscroll = function() {
        if (scroll_direction) {
            var current_scroll_pos = window.pageYOffset;
            if (prev_scroll_pos > current_scroll_pos) {
                elem.style.top = "43px";
            } else {
                elem.style.top = "-15px";
            }
            prev_scroll_pos = current_scroll_pos;
	} else {
            var current_scroll_pos = window.pageYOffset;
            if (prev_scroll_pos > current_scroll_pos) {
                elem.style.visibility = "visible";
            } else {
                elem.style.visibility = "hidden";
            }
            prev_scroll_pos = current_scroll_pos;
        }
    }
    function scroll_check() {
        var w = window.innerWidth;
        if (w > 639) { 
            scroll_direction = true;
            elem.style.bottom = null;
            elem.style.top = "43px";
        } else {
            scroll_direction = false;
            elem.style.top = null;
            elem.style.bottom = "0";
        }
        elem.style.visibility = "visible";
    }
</script>
{% endblock %}

