{% extends "inventory/base.html" %}
{% load static %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}New {{ name }}{% endblock %}
{% block content %}
<div class="w3-container w3-padding w3-light-gray" style="margin-top:20px;">
    <a href="/tenant/admin/" alt="Tenant Admin">Tenant Admin</a>
    »
    <a href="/tenant/admin/{{ name|lower }}/" alt="Tenant Admin {{ name }}">{{ name }}</a>
    » Add {{ name }}
</div>
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h4><b>New {{ name }}</b></h4>
    </div>
    <div class="w3-container">
        <div class="w3-col w3-padding w3-left">{{ message }}</div>
    </div>
    <div class="w3-container">
        <form class="w3-col l12 xl6 w3-card w3-padding w3-bar-block" action="." method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            {% if field.field.widget.input_type == 'checkbox' %}
            <div class="w3-bar-item ims-chkb-wrap">
                {{ field.errors }}
                {{ field | add_classes:"ims-tgl ims-tgl-skewed" }}
		<label class="w3-left ims-form-field ims-tgl-btn" data-tg-off="Disabled" data-tg-on="Enabled" for="{{ field.id_for_label }}" />
            </div>
            {% else %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes_and_auto_format:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% endif %}
            {% endfor %}
            <div class="w3-bar-item">
                <input type="submit" class="w3-button w3-dark-grey ims-form-field" value="Create">
            </div>
            <div class="w3-bar-item">
                <a href="/tenant/admin/" class="w3-button w3-light-grey ims-form-field">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

